page-details {

  //text-align:center;

}
h4 {
  color: DimGray;
}
  // p{
  //   color: #46010D;
  // }
  .overview{
    color : DimGray;
  }
   .background2 {
     background-color: #480410;
     color : #F5F5DC;
    }
